 /* Bangla Font */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');

 .noto-sans-font {
     font-family: "Noto Sans Bengali", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
 }

 /* Reset and base styles */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Inter', sans-serif;
     background-color: #F8FAFC;
 }

 /* Navbar */
 header {
     /* border: 1px solid salmon; */
     max-width: 1300px;
     margin: 0 auto;

 }

 .navbar {
     display: flex;
     justify-content: space-between;
     padding: 25px 0;
     /* background-color: #F8FAFC; */
 }

 .nav-logo>img {
     width: 250px;
     cursor: pointer;
 }

 .nav-menu {
     display: flex;
     gap: 20px;
     align-items: center;
 }

 .navbar>.nav-menu>.nav-list {
     list-style: none;
 }

 .navbar>.nav-menu>.nav-list>.nav-link {
     text-decoration: none;
     color: #475569;
     font-weight: 600;
 }

 /* Common Button */
 .btn {
     background-color: #0B3D91;
     color: #FFFFFF;
     border-radius: 999px;
     padding: 10px 13px;
     font-weight: 700;
     border: none;

     /* box-shadow: 0 4px 8px rgba(11, 61, 145, 0.1); */
     transition: transform 0.3s, box-shadow 0.3s;
 }

 .btn:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 16px rgba(11, 61, 145, 0.2);
 }

 /* Hero Section */
 .hero {
     margin-top: 50px;
     display: flex;
     justify-content: space-between;
 }

 .hero>.hero-text {
     width: 550px;
     align-content: center;
 }

 .hero-title {
     color: #0B3D91;
     font-size: 50px;
     padding-bottom: 20px;
 }

 .hero-description {
     width: 450px;
     color: #334155;
     font-weight: 600;
     padding-bottom: 20px;
 }

 .hero>.hero-text>button {
     font-size: 20px;
     padding: 10px 20px;
 }

 .hero>.hero-image>img {
     width: 500px;
     border-radius: 40px;
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.336);

     transition: transform 0.3s, box-shadow 0.3s;
 }

 .hero>.hero-image>img:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 16px rgba(11, 61, 145, 0.2);
 }

 /* Cards Section */
 .cards-section {
     padding-top: 70px;
     max-width: 1600px;
     margin: 0 auto;

     display: flex;
     gap: 30px;
     justify-content: center;
 }

 .cards-section>.card {
     display: flex;
     gap: 15px;
     align-items: center;
     width: 450px;
     border-radius: 20px;
     box-shadow:
         0 8px 25px rgba(15, 23, 42, 0.116),
         0 2px 6px rgba(15, 23, 42, 0.04);

     transition: transform 0.3s, box-shadow 0.3s;
 }

 .cards-section>.card:hover {
     transform: translateY(-5px);
     box-shadow: 0 8px 16px rgba(11, 61, 145, 0.2);
 }

 .cards-section>.card>img {
     width: 120px;
     padding: 15px;
     border-radius: 30px;
 }

 .cards-section>.card>.card-text>.card-description {
     width: 250px;
 }




 .hide {
     display: none;
 }

 /* Mobile Responsive */
 @media screen and (max-width: 576px) {

     /* Navbar */
     .navbar,
     .nav-menu {
         flex-direction: column;
         gap: 7px;
     }

     .nav-logo {
         margin: 0 auto;
         margin-bottom: 15px;
     }

     /* Hero */
     .hero {
         flex-direction: column-reverse;
     }

     .hero>.hero-image {
         padding: 20px;
     }

     .hero>.hero-image>img {
         width: 100%;
         margin-bottom: 20px;
     }

     .hero>.hero-text {
         width: 100%;
         padding: 20px;
     }

     .hero-text>.hero-description {
         width: 100%;
     }

     /* Cards Section */
     .cards-section{
        flex-wrap: wrap;
        padding-top: 30px;
     }
 }